@page "/LoginReg"
@inherits LoginRegistrationBase
<h3>Login and Registration</h3>

<h5>Log in</h5>
<p>
    <input @bind="UserLogin.UserName" />
</p>
<p>
    <input @bind="UserLogin.PasswordHash" />
</p>
<button type="button" class="btn btn-primary btn-block mb-4" @onclick=" () => LoginrUser_Click(UserLogin.UserName, UserLogin.PasswordHash)">Log in</button>
@*<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>


  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

</form>*@

<h5>Register</h5>
@*<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input class="form-control" bind="@User.UserName"/>
    <label class="form-label" >Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" class="form-control" bind="@User.PasswordHash"/>
    <label class="form-label" >Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4" @onclick=" () => RegisterUser_Click(User.UserName, User.PasswordHash)">Register</button>*@
@*
</form>*@

<p>
    <input @bind="User.UserName" />
</p>
<p>
    <input @bind="User.PasswordHash" />
</p>
<button type="button" class="btn btn-primary btn-block mb-4" @onclick=" () => RegisterUser_Click(User.UserName, User.PasswordHash)">Register</button>
